{% extends "base/base.html" %}

{% block content %}
<body>
    <h1>Edit GPU</h1>
    <form method="POST" action="{{ url_for('edit_gpu', id=gpu.id) }}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ gpu.name }}"><br>

        <label for="release_date">Release Date:</label>
        <input type="text" id="release_date" name="release_date" value="{{ gpu.release_date }}"><br>

        <label for="vram">VRAM:</label>
        <input type="text" id="vram" name="vram" value="{{ gpu.vram }}"><br>

        <label for="picture">Picture:</label>
        <input type="text" id="picture" name="picture" value="{{ gpu.picture }}"><br>

        <input type="submit" value="Submit">
    </form>
</body>
{% endblock %}