{% extends "base/base.html" %}

{% block content %}
<h1>Edit GPU</h1>
<form method="POST" action="{{ url_for('edit_gpu', id=gpu.id) }}">
    {{ form.hidden_tag() }}
    <input type="text" name="name" placeholder="Name" value="{{ form.name.data }}" required>
    <input type="date" name="release_date" placeholder="Release Date" value="{{ form.release_date.data }}" required>
    <input type="text" name="vram" placeholder="VRAM" value="{{ form.vram.data }}" required>
    <input type="text" name="picture" placeholder="Picture URL" value="{{ form.picture.data }}" required>
    <select name="category">
        <option value="Nvidia" {% if form.category.data == 'Nvidia' %}selected{% endif %}>Nvidia</option>
        <option value="AMD" {% if form.category.data == 'AMD' %}selected{% endif %}>AMD</option>
    </select>
    <button type="submit">Save</button>
</form>
{% endblock %}